.convo-container {
    position: relative;
}
.convo-container .grid-container.full-height {
    overflow: auto;
}
#convo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    height: auto;
    padding: 0;
    overflow: hidden;
}
#convo .message {
    margin: 0;
}
#convo .message .content {
    float: none;
    margin: 0;
    border-radius: 0;
    background-color: #f6e6ad;
    border: 0;
    border-top: 1px solid #eec938;
    overflow: auto;
}
#convo .message .content .username {
    float: right;
    padding-left: 2em;
    font-weight: normal;
    font-size: .8em;
    color: #333;
}
#convo .message:nth-last-child(1) {
    border-bottom: 1px solid #eec938;
}
#convo .message:nth-last-child(2) {
    opacity: .93;
}
#convo .message:nth-last-child(3) {
    opacity: .89;
}
#convo .message:nth-last-child(4) {
    opacity: .7;
}
#convo .message:nth-last-child(5) {
    opacity: .5;
}
.message-box button.quiet {
    margin-left: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px !important;
}