.rooms .sidebar {
    background-color: #c7eefc;
}
.rooms .room {
    position: relative;
    border-radius: 10px;
    background-color: #fbfbfb;
    border: 1px solid #dcdcdc;
}
.rooms .room .card-section {
    margin: 1px;
    padding: .5em .7em;
    color: #333;
}
.rooms .room .card-section:hover {
    border: 1px solid #99ddfc;
    border-radius: 9px;
    margin: 0;
}
.rooms .room.random {
    border: 1px solid #d26881;
    background-color: #fcf5f7;
}
.rooms .room.random .card-section:hover {
    border: 1px solid #f1a5bc;
}
.rooms .card.guide {
    border: none;
}
.rooms .guide .card-section {
    padding: 1em;
    background-color: #f5f5f5;
    border-radius: 10px;
    font-size: .9em;
}
.rooms .create.guide .card-section {
    background-color: azure;
}
.rooms .room.random h4 {
    color: #d45472;
}
.rooms .room.create h4 {
    color: #1691cf;
}
.rooms .room h5 {
    color: #1691cf;
    margin-bottom: 1.5em;
    padding-right: 1em;
}
.rooms .room p {
    margin-bottom: 1.3em;
}
.rooms .room.random p, .rooms .room.create p {
    margin-bottom: 1.8em;
}
.rooms .room .curr-users {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: .55em .65em;
    line-height: 1;
    color: #ccc;
}
.rooms .room.active .curr-users {
    color: #0280be;
}
.rooms .room .new {
    position: absolute;
    right: 0;
    top: 0;
    padding: .1em;
    color: #ff8f18;
    line-height: 1;
    font-size: 1.5em;
}
.rooms .room .button.start {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 1px 1px 0;
    border-radius: 20px 0 7px 0;
    background-color: #d1e8f3;
    color: #555;
}
.rooms .room .card-section:hover .button.start {
    background-color: #bee2f6;
}
.rooms .room.random .card-section:hover .button.start {
    background-color: #ea6b8a;
}
.rooms .room.create .card-section:hover .button.start {
    background-color: #54b3e0;
}
.rooms .room.random .button.start {
    min-width: 11em;
    background-color: #d97c92;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
}
.rooms .room.create {
    border: 1px solid #58aed9;
    background-color: azure;
}
.rooms .room.create .button.start {
    min-width: 11em;
    background-color: #6eb4d5;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
}
h6.info {
    font-size: .85em;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: .6em .8em;
    margin: 0;
    overflow: auto;
}
.rooms.public .cell {
    margin-bottom: 0;
}