.rooms .sidebar {
    background-color: #c7eefc;
}
.rooms .room {
    position: relative;
    border-radius: 10px;
    background-color: #fbfbfb;
    border: 1px solid #6eb4d5;
}
.rooms .room h5 {
    color: #1691cf;
    margin-bottom: 1.5em;
    padding-right: 1em;
}
.rooms .room .card-section {
    margin: 1px;
    padding: .5em .7em;
    color: #333;
    font-size: .93em;
}
.rooms .room .card-section:hover {
    border: 1px solid #99ddfc;
    border-radius: 9px;
    margin: 0;
}
.rooms .room p {
    margin-bottom: 1.3em;
}
.rooms .room .curr-users {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: .55em .65em;
    line-height: 1;
    color: #ccc;
}
.rooms .room.active .curr-users {
    color: #0280be;
}
.rooms .room .new {
    position: absolute;
    right: 0;
    top: 0;
    padding: .1em;
    color: #ff8f18;
    line-height: 1;
    font-size: 1.5em;
}
.rooms .room .button.start {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 1px 1px 0;
    border-radius: 20px 0 7px 0;
    background-color: #a1d2ea;
    color: #444;
}
.rooms .room .card-section:hover .button.start {
    background-color: #bee2f6;
}
.rooms .card.guide {
    border: none;
}
.rooms .card.guide h5 {
    font-size: 1.3em;
}
.rooms .card.guide .card-section {
    font-size: .92em;
    border-radius: 10px;
}
.rooms .room.random {
    border: 1px solid #d26881;
    background-color: #fbf0f3;
}
.rooms .room.random .card-section:hover {
    border: 1px solid #f1a5bc;
}
.rooms .room.random .card-section:hover .button.start {
    background-color: #f56386;
}
.rooms .room.random h4 {
    color: #d45472;
}
.rooms .room.random p {
    margin-bottom: 1.8em;
}
.rooms .room.random .button.start {
    min-width: 11em;
    background-color: #d97c92;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
}
.rooms .random.guide .card-section {
    background-color: #fbf0f3;
}
.rooms .room.private {
    border: 1px solid #ffa83c;
    background-color: #fae9d5;
}
.rooms .room.private .card-section:hover {
    border: 1px solid #fcce98;
}
.rooms .room.private h4 {
    color: #d27512;
}
.rooms .room.private p {
    margin-bottom: 1.8em;
}
.rooms .room.private .button.start {
    min-width: 11em;
    background-color: #ea9f4b;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
}
.rooms .room.private .card-section:hover .button.start {
    background-color: #f8a03d;
}
.rooms .private.guide .card-section {
    background-color: #fdf1e3;
}
.rooms .room.public {
    border: 1px solid #58aed9;
    background-color: #e5f9f9;
}
.rooms .room.public h4 {
    color: #1691cf;
}
.rooms .room.public p {
    margin-bottom: 1.8em;
}
.rooms .room.public .button.start {
    min-width: 11em;
    background-color: #6eb4d5;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
}
.rooms .room.public .card-section:hover .button.start {
    background-color: #44bbf5;
}
.rooms .public.guide .card-section {
    background-color: #e5f9f9;
}
h6.bar {
    font-size: .85em;
    background-color: #dcebf0;
    border-radius: 8px;
    padding: .6em .8em;
    margin: 0;
    overflow: auto;
}
.rooms.public .cell {
    margin-bottom: 0;
}