* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: #7b878c;
}
body:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: "";
    box-shadow: 0 0 150px 200px rgb(49, 64, 70), 0 0 0 0 rgb(255, 255, 255);
}
.grid-y.grid-frame {
    /*noinspection CssUnresolvedCustomProperty*/
    height: calc(var(--vh, 1vh) * 100);
}
.grid-y.grid-frame > .cell {
    max-width: 1260px;
    margin: 0 auto;
}
.grid-y.grid-frame > .shadow.cell {
    background-color: #fff;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.full-height {
    height: 100%;
}
input#for-automata-clear {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
}
.header .grid-x {
    height: 50px;
}
.header {
    position: relative;
    background-color: #314046;
    color: #fff;
    padding: 0 10px;
}
.header h1, .header h2 {
    font-size: 1.5em;
    line-height: 30px;
    margin: 0;
    max-width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}
.header h2 {
    font-size: 1.3em;
}
.header .badge {
    font-size: 20px;
    margin: 0 6px;
    padding: 4px;
    min-width: 34px;
    line-height: 26px;
}
.header .button {
    margin: 0;
    border-radius: 6px;
    vertical-align: baseline;
    height: 30px;
    line-height: 28px;
    padding: 0 6px;
}
.header .button .iconfont {
    font-size: 24px;
    vertical-align: sub;
}
.header .button.people {
    float: left;
    margin: 0 10px 0 0;
    color: #fff;
    background-color: #1b8d8d;
    min-width: 55px;
    text-align: left;
    white-space: nowrap;
}
.header .button.people:hover {
    background-color: #138484;
}
.header .button.people span {
    font-size: 16px;
    vertical-align: top;
    margin: 0 4px;
}
.header .button.leave {
    background-color: #e85757;
}
.header .button.leave:hover {
    background-color: #e02323;
}
.header .button.leave:disabled {
    background-color: #e02323;
    cursor: wait;
}
.header .button.signin {
    display: none;
    background-color: #2D844D;
}
.header .button.signin .iconfont {
    color: #fff;
}
.header .button.signout {
    display: none;
    background-color: #C45A4F;
}
.header .button.signout:disabled {
    cursor: wait;
}
.footer {
    padding: 0;
}
.body {
    background-color: #fff;
    border-radius: 10px 10px 0 0;
}
.sidebar {
    position: relative;
    padding: 0;
    background-color: #d1f3ff;
    overflow: auto;
}
.body .sidebar {
    border-radius: 10px 0 0 0;
}
@media screen and (max-width: 39.9375em) {
    .body .sidebar {
        border-radius: 10px 10px 0 0;
    }
}
.footer .sidebar {
    overflow: hidden;
    padding: 0;
}
.user {
    position: relative;
}
.user .shrink {
    position: relative;
}
.user .auto {
    position: relative;
}
.user .avatar {
    background-color: #a8e0fd;
    width: 70px;
    height: 60px;
    margin: 4px;
    border-radius: 8px;
}
.user .avatar .iconfont {
    position: absolute;
    top: -5px;
    left: 15px;
    font-size: 50px;
    color: #d1f3ff;
    text-shadow: rgba(0, 0, 0, .498039) 0 1px 2px;
}
.user .nameplate {
    position: relative;
    background-color: #a8e0fd;
    margin: 4px 4px 4px 0;
    height: 60px;
    border-radius: 8px;
}
.user .nameplate .icon {
    display: inline-block;
    color: #fff;
    background-color: #72bde2;
    line-height: 24px;
    font-size: 13px;
    padding: 0 6px;
    border-radius: 10px 0 10px 0;
}
.user .nameplate .country {
    position: absolute;
    right: 0;
    bottom: 0;
}
.user .nameplate .username {
    padding: 6px 10px;
    max-width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    color: #217aa6;
    font-size: 1em;
}
.user.my-col-1 .avatar .iconfont {
    color: #fcbdbd;
}
.user.my-col-2 .avatar .iconfont {
    color: #fcd3b2;
}
.user.my-col-3 .avatar .iconfont {
    color: #f6ea9e;
}
.user.my-col-4 .avatar .iconfont {
    color: #b4ecb1;
}
.user.my-col-5 .avatar .iconfont {
    color: #b5defc;
}
.user.my-col-6 .avatar .iconfont {
    color: #c5c5fa;
}
.user.my-col-7 .avatar .iconfont {
    color: #f3c1f2;
}
#form-sign-in label.title {
    color: #454545;
    margin: 0 0 .2em 0;
    font-size: 1em;
}
#form-sign-in .form-error {
    font-size: 1em;
}
#common-sign-in .my-col-1 {
    background-color: #fcbdbd;
}
#common-sign-in .my-col-2 {
    background-color: #fcd3b2;
}
#common-sign-in .my-col-3 {
    background-color: #f6ea9e;
}
#common-sign-in .my-col-4 {
    background-color: #b4ecb1;
}
#common-sign-in .my-col-5 {
    background-color: #b5defc;
}
#common-sign-in .my-col-6 {
    background-color: #c5c5fa;
}
#common-sign-in .my-col-7 {
    background-color: #f3c1f2;
}
#common-sign-in .my-col-block {
    display: inline-block;
    padding: .2em .7em;
    margin-bottom: .3em;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid #fff;
}
#common-sign-in .my-col-block.selected {
    border: 3px solid #1b8d8d;
}
.reveal.popup {
    background-color: #e9f4f6;
}
.reveal.popup:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: "";
    box-shadow: 0 0 1.4em 3.6em rgb(79, 148, 185), 0 0 0 0 rgb(232, 247, 245);
    z-index: -1;
}
.reveal.popup.error:before {
    box-shadow: 0 0 1.4em 3.6em rgb(206, 149, 50), 0 0 0 0 rgb(232, 247, 245);
}
.reveal.popup h3 {
    color: #e0ffff;
    margin-top: -.25em;
    margin-bottom: 1.4em;
    text-shadow: rgba(0, 0, 0, .498039) 0 1px 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.reveal.popup .content p .button {
    margin: 0;
    padding: .4em .8em;
}
.reveal.popup .close-button {
    color: #f5fffa;
}
.reveal.popup .banner {
    display: block;
    font-size: 10em;
    line-height: 1.2;
    text-align: center;
    width: 1em;
    margin: 0 auto;
    color: #999;
    text-shadow: 5px 5px 1px #fff;
    border-radius: 50%;
}
.reveal.popup .banner.animate {
    text-shadow: none;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
form label {
    font-size: 1em;
}
form .form-error {
    font-size: .9em;
}