.lobby.user {
    background-color: #eee;
    border-radius: 10px;
}
.service {
    position: relative;
    border-radius: 10px;
    background-color: #f3f3f3;
    margin-top: 0;
}
.service.cell {
    margin-top: 0;
}
.service a.title {
    display: block;
    width: 85%;
}
.service a.title h4 {
    font-weight: bold;
}
.service p {
    margin-bottom: .3em;
    color: #444;
}
.service p.guide {
    font-size: .9em;
    padding-left: .7em;
    border-left: 3px solid #eee;
    border-radius: 8px;
}
.service p.dummy {
    margin-bottom: 1.6em;
}
.service a.guide {
    position: absolute;
    top: 11px;
    right: 11px;
    font-size: 1.5em;
    line-height: 1;
    padding: 0;
}
.service .button.start {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 1px 1px 0;
    border-radius: 20px 0 7px 0;
    background-color: #a1d2ea;
    color: #444;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}
.service.random {
}
.service.random h4 {
    color: #e75f7f;
}
.service.random p.guide {
    border-left: 2px solid #d26881;
}
.service.random a.guide {
    color: #d26881;
}
.service.random .button.start {
    min-width: 11em;
    background-color: #e07a91;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
}
.service.random:hover .button.start {
    background-color: #ea6887;
}
.service.strangers {
}
.service.strangers h4 {
    color: #e5831b;
}
.service.strangers p.guide {
    border-left: 2px solid #ffa83c;
}
.service.strangers a.guide {
    color: #ffa83c;
}
.service.strangers .button.start {
    min-width: 11em;
    background-color: #ea9f4b;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
}
.service.strangers:hover .button.start {
    background-color: #f8a03d;
}
.service.private {
}
.service.private h4 {
    color: #5fb440;
}
.service.private p.guide {
    border-left: 2px solid #84d268;
}
.service.private a.guide {
    color: #84d268;
}
.service.private .button.start {
    min-width: 11em;
    background-color: #78cd59;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
}
.service.private:hover .button.start {
    background-color: #6dd746;
}
.service.public {
}
.service.public h4 {
    color: #1691cf;
}
.service.public p.guide {
    border-left: 2px solid #58aed9;
}
.service.public a.guide {
    color: #58aed9;
}
.service.public .button.start {
    min-width: 11em;
    background-color: #64bce5;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
}
.service.public:hover .button.start {
    background-color: #44bbf5;
}
.rooms-options {
    font-size: .85em;
    background-color: #dcebf0;
    border-radius: 8px;
    padding: 0 0 0 1em;
}
.rooms-options h6 {
    margin: 0;
    line-height: 1;
}
.rooms-options .refresh-rooms {
    white-space: nowrap;
}
.rooms-options select {
    margin: 0;
    width: auto;
    background-color: #bee9f6;
    border: none;
    border-radius: 0 8px 8px 0;
}
.rooms .room {
    position: relative;
    border-radius: 10px;
    border: 1px solid #99ddfc;
    padding: .5em .7em 1.5em;
    color: #333;
    font-size: .93em;
}
.rooms .room.cell {
    margin-bottom: 0;
}
.rooms .room.template {
    display: none;
}
.rooms .room h5 {
    color: #1691cf;
    margin-right: 1em;
    margin-bottom: .5em;
}
.rooms .room .room-info {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: .35em .55em;
    line-height: 1;
}
.rooms .room .curr-users {
    color: #ccc;
}
.rooms .room.active .curr-users {
    color: #0280be;
    font-size: 1.2em;
}
.rooms .room.active .curr-users:before {
    -webkit-animation: in-chatting .8s infinite alternate;
    animation: in-chatting .8s infinite alternate;
}
@-webkit-keyframes in-chatting {
    0% { color: #0280be; }
    100% { color: #92d3f3; }
}
@keyframes in-chatting {
    0% { color: #0280be; }
    100% { color: #92d3f3; }
}
.rooms .room .lang {
    padding-left: 1em;
    font-size: .9em;
}
.rooms .room .new {
    position: absolute;
    right: .1em;
    top: 0;
    padding: .1em;
    color: #ff8f18;
    line-height: 1;
    font-size: 1.5em;
}
.rooms .room .button.start {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    border-radius: 10px 0 7px 0;
    background-color: #a1d2ea;
    color: #003478;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}
.rooms .room:hover .button.start {
    background-color: #bee2f6;
}