.rooms .room {
    position: relative;
    border-radius: 10px;
    background-color: aliceblue;
}
.rooms .room .card-section {
    margin: 2px;
    padding: .5em;
}
.rooms .room .card-section:hover {
    border: 2px solid #99ddfc;
    border-radius: 8px;
    margin: 0;
}
.rooms .room.random {
    border: 2px solid #d26881;
    background-color: #fcf5f7;
}
.rooms .room.random .card-section:hover {
    margin: 1px;
    border: 1px solid #f1a5bc;
    border-radius: 7px;
}
.rooms .no-room .card-section {
    padding: 0;
}
.rooms .room.random h4 {
    color: #d45472;
}
.rooms .room p {
    margin-bottom: 1.3em;
}
.rooms .room .button.start {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 8px 0 8px 0;
    background-color: #458caf;
}
.rooms .room.random .button.start {
    background-color: #d26881;
}
