.rooms .sidebar {
    background-color: #c7eefc;
}
.rooms .room {
    position: relative;
    border-radius: 10px;
    background-color: #f5f8fb;
}
.rooms .room .card-section {
    margin: 2px;
    padding: .5em;
    color: #333;
}
.rooms .room .card-section:hover {
    border: 2px solid #99ddfc;
    border-radius: 8px;
    margin: 0;
}
.rooms .room.random {
    border: 1px solid #d26881;
    background-color: #fcf5f7;
}
.rooms .room.random .card-section:hover {
    border: 2px solid #f1a5bc;
}
.rooms .no-room .card-section {
    padding: 1em;
    background-color: #f5f5f5;
    border-radius: 10px;
}
.rooms .random.guide .card-section {
    background-color: #fcf5f7;
}
.rooms .create.guide .card-section {
    background-color: #f5f8fb;
}
.rooms .room.random h4 {
    color: #d45472;
}
.rooms .room p {
    margin-bottom: 1.3em;
}
.rooms .room .button.start {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 7px 0 7px 0;
    background-color: #6eb4d5;
}
.rooms .room.random .button.start {
    background-color: #d97c92;
}
.rooms .room.create {
    border: 1px solid #58aed9;
}
