* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: "";
    box-shadow: 0 0 150px 200px rgb(49, 64, 70), 0 0 0 0 rgb(255, 255, 255);
}
body {
    background: #7b878c;
}
.grid-y.grid-frame {
    /*noinspection CssUnresolvedCustomProperty*/
    height: calc(var(--vh, 1vh) * 100);
}
.grid-y.grid-frame > .cell {
    max-width: 1260px;
    margin: 0 auto;
}
.grid-y.grid-frame > .shadow.cell {
    background-color: #fff;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.full-height {
    height: 100%;
}
input#for-automata-clear {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
}
.header .grid-x {
    height: 50px;
}
.header {
    position: relative;
    background-color: #314046;
    color: #fff;
    padding: 0 10px;
}
.header h2 {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    max-width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}
.header .badge {
    font-size: 20px;
    margin: 0 6px;
    padding: 4px;
    min-width: 34px;
    line-height: 26px;
}
.header button {
    margin: 0;
    border-radius: 6px;
    vertical-align: baseline;
    height: 30px;
    padding: 0 6px;
}
.header button .iconfont {
    font-size: 24px;
    vertical-align: sub;
}
.header button.people {
    float: left;
    margin: 0 6px 0 0;
    color: #fff;
    background-color: #1b8d8d;
    min-width: 50px;
    text-align: left;
    white-space: nowrap;
}
.header button.people:hover {
    background-color: #138484;
}
.header button.people span {
    font-size: 16px;
    vertical-align: top;
    margin: 0 4px;
}
.header button.leave {
    background-color: #e85757;
}
.header button.leave:hover {
    background-color: #e73737;
}
.footer {
    padding: 0;
}
.body {
    background-color: #fff;
    border-radius: 10px 10px 0 0;
}
.sidebar {
    position: relative;
    padding: 0;
    background-color: #d1f3ff;
    overflow: auto;
}
.body .sidebar {
    border-radius: 10px 0 0 0;
}
@media screen and (max-width: 39.9375em) {
    .body .sidebar {
        border-radius: 10px 10px 0 0;
    }
}
.footer .sidebar {
    overflow: hidden;
    padding: 0;
}
.rooms .sidebar {
    background-color: #c7eefc;
}
.sidebar .user {
    background-color: #abe8fd;
}
.sidebar .user .avatar {
    background-color: #89d6fc;
    width: 70px;
    height: 70px;
}
.sidebar .user i {
    color: #fabc03;
}
.sidebar .user ul {
    list-style-type: none;
    margin: 6px;
    overflow: auto;
}
.sidebar .user ul li {
    margin: 0;
    padding: 0;
    max-width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}
#sign-in h3 {
    margin-bottom: 20px;
    color: #455259;
}
#sign-in h4 {
    margin-bottom: 20px;
    color: #555;
}
#sign-in .input-group {
    max-width: 550px;
}
#sign-in .form-error {
    font-size: 1em;
}
#contacts {
    list-style: none;
    margin: 0;
    padding: 0;
}
#contacts .contact {
    padding: 8px 8px 8px 12px;
    position: relative;
}
#contacts .contact.me {
    background-color: #95d6f6;
}
#contacts .contact:hover {
    background-color: #30b1f1;
    cursor: pointer;
}
#contacts .contact .status {
    display: inline;
}
#contacts .contact .status .badge {
    color: #fff;
    vertical-align: baseline;
}
#contacts .contact.me .status .badge {
    color: #fabc03;
}
#contacts .contact .name {
    line-height: 1.1;
    padding-left: 8px;
    display: inline-block;
}
#convos {
    height: 100%;
    overflow-y: auto;
    padding-top: 15px;
}
#convos .message {
    margin-top: 4px;
    margin-bottom: 5px;
    overflow: auto;
}
#convos .message .content {
    border-radius: 20px;
    padding: 6px 16px;
    margin: 0 0 2px;
}
#convos .message.event {
    margin-top: 0;
    margin-bottom: 6px;
}
#convos .message.event .content {
    margin: 0;
    padding: 3px 16px;
    border-radius: 6px;
    width: 100%;
    text-align: center;
    background-color: #f1f1f1;
    color: #333;
}
#convos .message.event .content strong {
    font-weight: bold;
}
#convos .message.event.error .content {
    background-color: palevioletred;
    color: yellow;
}
#convos .message.received {
    left: 0;
}
#convos .message.received .content {
    clear: both;
    float: left;
    background-color: #72baec8a;
    border-radius: 0 20px 20px;
}
#convos .message.received .username {
    float: left;
    font-weight: bold;
}
#convos .message.sent .content {
    clear: both;
    float: right;
    background-color: #fbe2ae;
    border-radius: 20px 0 20px 20px;
}
#convos .message.sent .username {
    float: right;
    font-weight: bold;
}
#convos .message.coupled .username {
    display: none;
}
.message-box .input-group {
    margin: 0;
}
@media screen and (max-width: 39.9375em) {
    .message-box {
        background: #f5f5f5;
    }
}
.lobby .rooms .room {
    border-radius: 10px;
}
.lobby .rooms .room .card-section {
    margin: 2px;
}
.lobby .rooms .room .card-section:hover {
    border: 2px solid #99ddfc;
    border-radius: 8px;
    margin: 0;
}
.lobby .rooms .room.random {
    border: 2px solid #d26881;
}
.lobby .rooms .room.random .card-section:hover {
    border: 2px solid #d26881;
}
.lobby .rooms .room.random h4 {
    color: #d45472;
}
