* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: "";
    box-shadow: 0 0 150px 200px rgb(49, 64, 70), 0 0 0 0 rgb(255, 255, 255);
}
body {
    background: #7b878c;
}
.grid-y.grid-frame {
    /*noinspection CssUnresolvedCustomProperty*/
    height: calc(var(--vh, 1vh) * 100);
}
.grid-y.grid-frame > .cell {
    max-width: 1260px;
    margin: 0 auto;
}
.grid-y.grid-frame > .shadow.cell {
    background-color: #fff;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.full-height {
    height: 100%;
}
input#for-automata-clear {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
}
.header .grid-x {
    height: 50px;
}
.header {
    position: relative;
    background-color: #314046;
    color: #fff;
    padding: 0 10px;
}
.header h1, .header h2 {
    font-size: 1.5em;
    line-height: 30px;
    margin: 0;
    max-width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}
.header h2 {
    font-size: 1.3em;
}
.header .badge {
    font-size: 20px;
    margin: 0 6px;
    padding: 4px;
    min-width: 34px;
    line-height: 26px;
}
.header button {
    margin: 0;
    border-radius: 6px;
    vertical-align: baseline;
    height: 30px;
    padding: 0 6px;
}
.header button .iconfont {
    font-size: 24px;
    vertical-align: sub;
}
.header button.people {
    float: left;
    margin: 0 6px 0 0;
    color: #fff;
    background-color: #1b8d8d;
    min-width: 55px;
    text-align: left;
    white-space: nowrap;
}
.header button.people:hover {
    background-color: #138484;
}
.header button.people span {
    font-size: 16px;
    vertical-align: top;
    margin: 0 4px;
}
.header button.leave {
    background-color: #e85757;
}
.header button.leave:hover {
    background-color: #e73737;
}
.footer {
    padding: 0;
}
.body {
    background-color: #fff;
    border-radius: 10px 10px 0 0;
}
.sidebar {
    position: relative;
    padding: 0;
    background-color: #d1f3ff;
    overflow: auto;
}
.body .sidebar {
    border-radius: 10px 0 0 0;
}
@media screen and (max-width: 39.9375em) {
    .body .sidebar {
        border-radius: 10px 10px 0 0;
    }
}
.footer .sidebar {
    overflow: hidden;
    padding: 0;
}
.sidebar .user {
    position: relative;
}
.sidebar .user .shrink {
    position: relative;
}
.sidebar .user .auto {
    position: relative;
}
.sidebar .user .avatar {
    background-color: #a8e0fd;
    width: 70px;
    height: 60px;
    margin: 4px;
    border-radius: 10px;
}
.sidebar .user .avatar .iconfont {
    position: absolute;
    top: -5px;
    left: 15px;
    font-size: 50px;
    color: #d1f3ff;
}
.sidebar .user .nameplate {
    position: relative;
    font-size: 14px;
    line-height: 26px;
    background-color: #a8e0fd;
    margin: 4px 4px 4px 0;
    height: 60px;
    border-radius: 10px;
}
.sidebar .user .nameplate .icon {
    display: inline-block;
    color: #fff;
    background-color: #72bde2;
    line-height: 26px;
    font-size: 14px;
    padding: 0 6px;
}
.sidebar .user .nameplate .country {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 10px 0 10px 0;
}
.sidebar .user .nameplate .username {
    padding: 6px 10px;
    max-width: 100% !important;
    overflow: hidden !important;
    font-size: 1em;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    color: #217aa6;
}
#sign-in h3 {
    margin-bottom: 20px;
    color: #455259;
}
#sign-in h4 {
    margin-bottom: 20px;
    color: #555;
}
#sign-in .input-group {
    max-width: 550px;
}
#sign-in .form-error {
    font-size: 1em;
}
