* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background: #35505b;
    content: "";
    z-index: -1;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 60px 120px 0 rgba(255, 255, 255, 0.19);
}
body {
    background: #35505b;
}
.grid-frame > .cell {
    max-width: 1280px;
    margin: 0 auto;
}
.grid-frame > .shadow.cell {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header .grid-x {
    min-height: 50px;
}
.full-height {
    height: 100%;
}
.header {
    position: relative;
    background-color: #35505b;
    color: #fff;
}
.header h2 {
    font-size: 24px;
    line-height: 1;
    display: inline;
    margin: 0;
}
.header .badge {
    font-size: 20px;
    margin: 0 6px;
    padding: 4px;
    min-width: 34px;
    line-height: 26px;
}
.header button {
    margin: 0;
    border-radius: 6px;
    vertical-align: baseline;
    height: 30px;
    font-size: 24px;
    padding: 0 6px;
    line-height: 30px;
}
.header button.people {
    margin: 0 6px 0 0;
    color: #fff;
    background-color: #13cfcf;
    min-width: 65px;
    text-align: left;
}
.header button.people span {
    font-size: .8em;
    vertical-align: top;
    margin: 0 4px;
}
.header button.leave {
    background-color: #e85757;
}
.header button.leave:hover {
    background-color: #e73737;
}
.body {
    background-color: #fff;
}
.sidebar {
    position: relative;
    padding: 0;
    background-color: #bbedfe;
    overflow: auto;
}
.footer .sidebar {
    overflow: hidden;
    padding: 0;
}
.lobby .sidebar {
    background-color: #c7eefc;
}
.sidebar .user {
    background-color: #abe8fd;
}
.sidebar .user .avatar {
    background-color: #89d6fc;
    width: 70px;
    height: 70px;
}
.sidebar .user i {
    color: #fabc03;
}
.sidebar .user ul {
    list-style-type: none;
    margin: 6px;
    overflow: auto;
}
.sidebar .user ul li {
    margin: 0;
    padding: 0;
}
.side-menu {

}
#sign-in {
    padding: 20px;
}
#sign-in h3 {
    margin-bottom: 20px;
    color: #455259;
}
#sign-in h4 {
    margin-bottom: 20px;
    color: #555;
}
#sign-in .input-group {
    max-width: 500px;
}
#sign-in .form-error {
    font-size: 1em;
}
#contacts {
    padding: 15px;
}
#contacts .contact {
    padding: 5px;
    position: relative;
    border-radius: 8px;
}
#contacts .contact.me {
    background-color: #95d6f6;
}
#contacts .contact:hover {
    background-color: #30b1f1;
    cursor: pointer;
}
#contacts .contact .status {
    padding-right: 8px;
    position: absolute;
    top: 2px;
    left: 5px;
    height: 24px;
}
#contacts .contact .status .badge {
    color: #fff;
    vertical-align: baseline;
}
#contacts .contact.me .status .badge {
    color: #fabc03;
}
#contacts .contact .name {
    line-height: 1.1;
    padding-left: 30px;
    display: inline-block;
}
#conversations {
    overflow-y: auto;
}
#conversations .message {
    margin-top: 4px;
    margin-bottom: 4px;
}
#conversations .message .content {
    border-radius: 20px;
    padding: 8px 16px;
    margin: 0;
    display: table;
}
#conversations .message.event {
    margin-top: 0;
    margin-bottom: 8px;
}
#conversations .message.event .content {
    padding: 7px 20px;
    border-radius: 6px;
    width: 100%;
    text-align: center;
    background-color: #ececec;
}
#conversations .message.event .content strong {
    font-weight: bold;
}
#conversations .message.event.error .content {
    background-color: palevioletred;
    color: yellow;
}
#conversations .message.received {
    left: 0;
    text-align: left;
}
#conversations .message.received .content {
    background-color: #72baec8a;
    border-radius: 0 20px 20px;
}
#conversations .message.received .sender {
    font-weight: bold;
}
#conversations .message.sent {
    right: 0;
    text-align: right;
}
#conversations .message.sent .content {
    background-color: #fbe2ae;
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    border-radius: 20px 0 20px 20px;
}
#conversations .message.sent .sender {
    font-weight: bold;
}
#conversations .message.sent.same-sender .sender,
#conversations .message.received.same-sender .sender {
    display: none;
}
#conversations .message:not(.same-sender) {
    margin-top: 8px;
}
#send-message .input-group {
    margin: 0;
}
.footer {
    padding: 0;
    height: 70px !important;
}
.lobby .footer .bottom {
    display: none;
}
